.light{
  border-radius: 10px;
  background: #ECEAEA;
  color: black;
  height: 8vh;
}
.dark{
  border-radius: 10px;
  background: black;
  color: white;
  height: 8vh;
}
.LeftBranch{
  font-size: 20px;
}
.RightBranch{
  font-size: 20px;
}