button{
  top: 20px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
.block{
  text-align: -webkit-center;
}
